nav(class="nav")
	a(class="nav-link" href="/") Home
	
	a(class="nav-link" href="/users") Users
	
	a(class="nav-link" href="/signup") Sign Up

	a(class="nav-link" href="/login") Login 

//- nav for hasn't logged in