nav(class="nav")
    a(class="nav-link" href="/") Home	
    a(class="nav-link" href="/users") Users
    a(class="nav-link" href="/orderform.html") Order Form
    a(class="nav-link" href="/users/"+session.userid) User's Profile
    a(class="nav-link" href="/logout") Log out
//- nav for already logged in